// Colors
$blue: #4A90E2;
$gray: #999;
$gray-dark: #4A4A4A;
$gray-darker: lighten(#1D1D1F, 5%);
$text: #333;

// Spacing
$space-large: 3em;
$space-medium: 1.5em;
$space-small: 0.5em;

// Others
$radius: 5px;
